@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: "Glober";
    src: url("../fonts/GloberThin.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Glober";
    src: url("../fonts/GloberSemiBold.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Gandhi Sans";
    src: url("../fonts/GandhiSans-Regular.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Gandhi Sans";
    src: url("../fonts/GandhiSans-Bold.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Semibold.otf") format("opentype");
    font-weight: 500;
}

/* FONTS */
$ubuntu: 'Ubuntu';
$glober: "glober";
$montserrat: "Montserrat";
$gandhi: "Gandhi Sans";
$proxima: "Proxima Nova";
$font-light: 300;
$font-normal: 400;

/* COLOURS */
$colour-white: #fff;
$colour-red: #c61130;
$colour-green: #6c9b27;
$colour-yellow: #f6aa06;
$colour-purple: #432737;
$colour-blue: #163a49;
$colour-turquoise: #232d2e;
$colour-dark-grey: #222;
$colour-light-grey: #e7e7e7;

/* MEDIA */
$desktop: "(min-width: 768px)";
$mobile: "(max-width: 767px)";

html {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: dotted 1px rgba(0, 0, 0, 0.25);
    -moz-transition: border-bottom-color 0.25s ease-in-out;
    -webkit-transition: border-bottom-color 0.25s ease-in-out;
    -o-transition: border-bottom-color 0.25s ease-in-out;
    -ms-transition: border-bottom-color 0.25s ease-in-out;
    transition: border-bottom-color 0.25s ease-in-out;
}

a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:focus { text-decoration: none; }

#background {
    position: fixed;
    z-index: -999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    width: 100%;
    height: 100%;
    background: url(../images/HackBCA.jpg) no-repeat bottom center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
    -moz-filter: brightness(30%);
    -o-filter: brightness(30%);
    -ms-filter: brightness(30%);
}

#cover {
    display: table;
    z-index: 0;
    width: 100%;
    height: 50%;
    
    padding: 0;
    color: #FFF;
    
    #container {
        display: table-cell;
        vertical-align: middle;
        
        #content {            
            padding: 50px 25px;
            text-align: center;
            
            #title {
                font-size: 136px;
                font-family: $proxima;
                font-weight: 300;
                
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
            
            #motto {
                font-size: 48px;
                font-family: $ubuntu;
                font-weight: 300;
                
                margin-top: -5px;
                padding-top: 0px;
            }
            
            #date {
                font-size: 24px;
                font-family: $ubuntu;
                font-weight: 300;
            }
            
            @media screen and (max-width: 720px) {
                #title {
                    font-size: 81px;
                    font-family: $proxima;
                    font-weight: 300;

                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }

                #motto {
                    font-size: 38px;
                    font-family: $ubuntu;
                    font-weight: 300;

                    margin-top: 0px;
                    padding-top: 0px;
                }
            }
        }
    }
}

.colorbar {
    height: 150px;
    padding-top: 35px;
    text-align: center;
	width: 100%;
	margin: 0;
    /* background: url(polygon.svg); */
    /* background: url(../img/cropped.svg) no-repeat bottom center scroll; */
    background: linear-gradient(45deg, #384955, #85505f, #412e4c);
    background-size: 100% auto;
	background-color: $colour-purple;
	color: $colour-white;
    
    h1 {
        font-size: 42px;
        margin: 0;
        padding: 0;
        font-family: $ubuntu;
    }
    
    h2 {
        font-size: 24px;
        color: #d0d0d0;
        margin: 0;
        padding: 0;
        margin-top: 5px;
        font-family: $ubuntu;
        font-weight: $font-light;
    }
}

#footer {
    height: calc(100% - 50% - (150px));
    background-color: #1D1D1D;
    text-align: center;
    margin: 0;
    padding: 25px;
    
    .joinHS {
        color: #FFF;
        font-family: $proxima;
        font-weight: 300;
    }
}

#getUpdates {
    display: block;
    width: 200px;
    line-height: 36px;
    
    background: rgba(255, 255, 255, 0.27);
    margin: 25px auto;
    padding: 12px 20px 8px 20px;
    
    cursor: pointer;
    border: 0;
    color: #fff;
    
    font-size: 18px;
    font-family: 'Glober', 'Open Sans';
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    
    -webkit-appearance: none;
}

#getUpdates:hover {
    font-size: 18px;
    font-family: 'Glober', 'Open Sans';
    font-weight: 400;
    background: rgba(255, 255, 255, 0.42);
    color: #fff;
    text-decoration: none;
}

.hackBCAI {
    text-align: center;
    color: rgba(255, 255, 255, 0.72);
    font-size: 18px;
    font-family: 'Ubuntu', 'Open Sans';
    font-weight: 400;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    
    &:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.92);
    }
    
    &:active {
        text-decoration: none;
    }
    
    &:focus {
        text-decoration: none;
    }
}

#email-form {
    display: block;
    width: 100%;
    max-width: 560px;
    background: rgba(255, 255, 255, 0.27);
    
    margin: 50px auto 25px auto;
    padding: 15px 25px;
    border: 0;
    color: #fff;
    font-size: 18px;
    font-family: 'Glober', 'Open Sans';
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 720px) {
    #email-form {
        max-width: 380px;
    }
}